---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import "../styles/global.css";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import GmailIcon from "../components/icons/GmailIcon.astro";
import Experiencie from "../components/Experiencie.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout>
  <main>
    <SectionContainer class="py-10 py-50">
      <img
        class="rounded-full size-30 item-center mb-4"
        src="https://avatars.githubusercontent.com/u/134659565?v=4"
        alt="Fabián photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hola, soy Fabián <a
          href="https://www.linkedin.com/in/fabian-amaya-lancheros-b06664290/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-2xl text-wrap">
        <span class="text-indigo-400/90">Ingeniero de software</span> full stack
        apasionado por la tecnología y la innovación, con experiencia en el <span
          class="text-blue-500/90"
          >desarrollo de aplicaciones web, diseño de interfaces UI/UX</span
        >, <span class="text-blue-100">
          administración de infraestructuras tecnológicas y amante de SCRUM.</span
        >
      </h2>

      <nav class="flex gap-x-4 mt-5">
        <SocialPill href="https://www.linkedin.com/in/fabian-amaya-lancheros-b06664290/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
		<SocialPill href="https://github.com/FABOOBA08">
			<GitHubIcon class="size-6" />
          GitHub
		</SocialPill>
		<SocialPill href="mailto:fabianamaya0801@gmail.com">
			<GmailIcon class="size-6" />
          fabianamaya0801@gmail.com
		</SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer>
      <Experiencie></Experiencie>
    </SectionContainer>
  </main>
</Layout>
