---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date : '2023 – 2024',
        title: "Analista de innovación y desarrollo",
        description : "Diseñé e implementé metodologías ágiles como Scrum para optimizar los procesos internos Desarrollé aplicaciones web en React y Node.js con integración SQL, resolviendo problemas de trazabilidad de inventarios y repuestos.",
        link : '#',
    },
    {
        date : '2023 – 2024',
        title: "Analista de innovación y desarrollo",
        description : "Diseñé e implementé metodologías ágiles como Scrum para optimizar los procesos internos Desarrollé aplicaciones web en React y Node.js con integración SQL, resolviendo problemas de trazabilidad de inventarios y repuestos.",
        link : '#',
    },
    {
        date : '2023 – 2024',
        title: "Analista de innovación y desarrollo",
        description : "Diseñé e implementé metodologías ágiles como Scrum para optimizar los procesos internos Desarrollé aplicaciones web en React y Node.js con integración SQL, resolviendo problemas de trazabilidad de inventarios y repuestos.",
        link : '#',
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">

  {
    EXPERIENCE.map(experience => 
    <li class="mb-10 ms-4">
      <ExperienceItem { ... experience}/>
    </li>
  )
  }
  
  </li>
</ol>
