---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date : '2023 – 2024',
        title: "Analista de innovación y desarrollo  | Icee Electronis S.A.S",
        description: [
      "Diseñé e implementé metodologías ágiles como Scrum para optimizar los procesos internos.",
      "Desarrollé aplicaciones web en React y Node.js con integración SQL, resolviendo problemas de trazabilidad de inventarios y repuestos.",
      "Renové la infraestructura tecnológica para mejorar el rendimiento y la seguridad."
    ],
        link : '#',
    },
    {
      date : '2022 – 2023',
        title: "Analista de Soporte | Jardines de los Andes S.A.S",
        description: [
      "Brindé soprte a las aplicaciones desarrolladas internamentes por el área de desarrollo de la compañia con lenguajes como C# también aplicaciónes Android y bases de datos.",
      "Administré servidores con Active Directory, configuración de VPN y antivirus corporativo.",
      "Gestioné el inventario tecnológico y licencias de software, asegurando eficiencia en su uso.",
      "Implementé soluciones de mantenimiento preventivo y correctivo en hardware y software."
    ],
        link : '#',
    },
    {
      date : '2021 – 2021',
        title: "Ingeniero de Soporte | Royher S.A.S",
        description: [
      "Participé en la migración de infraestructura tecnológica entre sedes corporativas, asegurando continuidad operativa.",
      "Coordiné despliegues técnicos en hardware, redes y servidores, optimizando el entorno empresarial."
    ],
        link : '#',
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700  ml-3">

  {
    EXPERIENCE.map(experience => 
    <li class="mb-10 ms-4">
      <ExperienceItem { ... experience}/>
    </li>
  )
  }
  
  </li>
</ol>
