<footer id="contacto" class="rounded-lg shadow-sm m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col sm:flex-row sm:items-center sm:justify-between">
    <!-- Información del autor -->
    <span class="text-sm text-blue-500/90 sm:text-center dark:text-blue-500/100 flex justify-center items-center">
      2025 | <a href="https://www.linkedin.com/in/fabian-amaya-lancheros-b06664290/" target="_blank" class="hover:underline">Fabián Amaya</a>
    </span>
    
    <!-- Menú de enlaces -->
    <ul class="flex flex-col sm:flex-row items-center mt-3 text-sm font-medium text-white/90 sm:mt-0 sm:justify-center">
      <li>
        <a href="#sobremi" class="hover:underline mb-2 sm:mb-0 sm:mr-4">Sobre Mi</a>
      </li>
      <li>
        <a href="mailto:fabianamaya0801@gmail.com" class="hover:underline mb-2 sm:mb-0 sm:mr-4">fabianamaya0801@gmail.com</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Volver al inicio</a>
      </li>
    </ul>
  </div>
</footer>
