<header class="w-full px-4 py-5 xl:w-[1120px] mx-auto flex justify-center items-center relative z-50">
  
  <button id="menu-btn" class="sm:hidden flex flex-col justify-center items-center w-8 h-8 relative z-50">
    <span class="block w-6 h-0.5 bg-white mb-1 transition-transform duration-300 origin-center" id="bar1"></span>
    <span class="block w-6 h-0.5 bg-white mb-1 transition-opacity duration-300" id="bar2"></span>
    <span class="block w-6 h-0.5 bg-white transition-transform duration-300 origin-center" id="bar3"></span>
  </button>
  
  
  <nav id="menu"
    class="hidden sm:flex flex-col sm:flex-row flex  items-center gap-y-2 sm:gap-y-0 sm:gap-x-10 opacity-80 text-gray-300 text-base sm:text-lg font-semibold text-center sm:text-left absolute top-full left-0 w-full bg-black/90 backdrop-blur-md py-6 px-4 rounded-b-lg sm:static sm:bg-transparent sm:p-0 sm:w-auto sm:rounded-none sm:backdrop-blur-0 sm:opacity-100 sm:scale-100 sm:transition-none transition-all duration-200 ease-out scale-95 opacity-0">
    <a href="#top" class="hover:text-white transition-colors">Inicio</a>
    <a href="#sobremi" class="hover:text-white transition-colors">Sobre mí</a>
    <a href="#experiencia" class="hover:text-white transition-colors">Experiencia</a>
    <a href="#proyectos" class="hover:text-white transition-colors">Proyectos</a>
    <a href="#contacto" class="hover:text-white transition-colors">Contacto</a>
  </nav>
</header>

<script>
  const btn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");

  const bar1 = document.getElementById("bar1");
  const bar2 = document.getElementById("bar2");
  const bar3 = document.getElementById("bar3");

  btn.addEventListener("click", () => {
    const isOpen = !menu.classList.contains("hidden");

    if (isOpen) {
      menu.classList.add("opacity-0", "scale-95");
      setTimeout(() => menu.classList.add("hidden"), 300);

      bar1.classList.remove("rotate-45", "translate-y-1.5");
      bar2.classList.remove("opacity-0");
      bar3.classList.remove("-rotate-45", "-translate-y-1.5");
    } else {
      menu.classList.remove("hidden");
      setTimeout(() => {
        menu.classList.remove("opacity-0", "scale-95");
        menu.classList.add("opacity-100", "scale-100");
      }, 10);

      bar1.classList.add("rotate-45", "translate-y-1.5");
      bar2.classList.add("opacity-0");
      bar3.classList.add("-rotate-45", "-translate-y-1.5");
    }
  });
</script>

