<header class="flex justify-between py-3 w-[1120px] mx-auto">
    <img class="rounded-full w-25 h-25 item-center" src="https://lh3.googleusercontent.com/a/ACg8ocJ98Yfb2zS71SFa3FryDnqlk8XCoy-5Pln6DPoDEXgi04rMkgbP=s288-c-no" alt="Fabián photo">
    <nav class="flex flex-row gap-x-10 opacity-80 text-gray-300 text-lg font-semibold">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>