
---
---
<a 
  href="#top" 
  class="fixed bottom-5 right-5 z-50 bg-gray-800 hover:bg-gray-700 text-white p-3 md:p-4 lg:p-5  rounded-full shadow-lg transition-transform hover:scale-110"
  aria-label="Volver al inicio"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
  </svg>
</a>
